$hover-color: #2196F3;
$header-text-color: #212121;
$simple-text-color: #757575;
$logo-top-color: #000;
$button-filter-color: #F5F4FA;
$background-color: #FFFFFF;
$background-footer-color: #2F303A;
$border-project-color: #EEEEEE;
$topline-color: #ECECEC;
$button-background-color: #188CE8;
$button-filter-color: #F5F4FA;
$hero-background-color: #C4C4C4;
$member-social-link-color: #AFB1B8; 
$shadow-color: rgba(0, 0, 0, 0.15);
$shadow-client-icon:rgba(0, 0, 0, 0.25);
$shadow-modal-color2: rgba(0, 0, 0, 0.14);
$shadow-filter-color1: rgba(0, 0, 0, 0.1);
$shadow-filter-color2: rgba(0, 0, 0, 0.08);
$shadow-filter-color3: rgba(0, 0, 0, 0.12);
$shadow-project-color2: rgba(0, 0, 0, 0.06);
$shadow-project-color3: rgba(0, 0, 0, 0.16);
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$about-background-color: rgba(47, 48, 58, 0.8);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$form-input-border-color: rgba(33, 33, 33, 0.2);
$project-overlay-color: rgba(33, 150, 243, 0.9);
$contacts-bottom-color: rgba(255, 255, 255, 0.6);
$social-background-bottom-color: rgba(255, 255, 255, 0.1);
$subscription-input-border-color: rgba(255, 255, 255, 0.3);